<div class="row">
    <div class="col-sm-12">
        <input [(ngModel)]="searchText" id="search" type="text" matInput placeholder="search">
    </div>
</div>
<div class="recipe-count">
    <label>Showing </label>
    <span>{{ (results | filter:searchText).length }}</span>
    <label> of </label>
    <span>{{ results.length }}</span>
</div>
<div class="results">
    <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let food of results | filter: searchText">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <h6>{{ food.Title }}</h6>
                </div>
                <div class="card-body">
                    <div>
                        <label>Author: </label>
                        <span>{{ food.Author }}</span>
                    </div>
                    <div>
                        <label>Source: </label>
                        <span>{{ food.Source }}</span>
                    </div>
                    <div *ngIf="food.Page > -1">
                        <label>Page: </label>
                        <span>{{ food.Page }}</span>
                    </div>
                    <div *ngIf="food.Link">
                            <label>Link: </label>
                            <span><a [href]="food.Link" target="_blank">Click here</a></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>